# Clojure Script GitIgnore Section

cljs/pom.xml
cljs/*jar
cljs/lib/
cljs/classes/
cljs/out/
cljs/target/
cljs/.lein-deps-sum
cljs/.lein-repl-history
cljs/.lein-plugins/
cljs/bin/
cljs/node_modules/
cljs/build/
cljs/.sass-cache/
**/*.zip

# Elm Script GitIgnore Section
# ...
